:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-light-gray: hsl(0, 0%, 98%);

    --font-size: 15px;
    --font-size-sm: 13px;
    --font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    background-color: var(--neutral-light-gray);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tekst */

.main {
    border: 1px solid red;
    padding: 4em .8em;
}

.main__heading {
    text-align: center;
    color: var(--neutral-dark-blue);
    /* margin-bottom: 4em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Op de een of andere manier werkt dit niet genest. */
.main__heading--h1 {
    font-weight: 200;
    font-size: 1.8rem;
    margin-bottom: .5em;
}

/* Geen probleem meer in als ik deze span uit de nest haalde */
span {
    font-weight: 700;
    display: block;
}

.main__heading--p {
    font-size: var(--font-size);
    font-weight: 200;
    width: 80%;
}

/* Cards */

.main__grid {
    margin-top: 4em;
}

.main__grid--card {
    background-color: white;
    margin: 1em;
}

/* Media Queries */

@media (max-width: 425px) {
    .main__heading--h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 320px) {
    .main__heading--h1 {
        font-size: 1.2rem;
    }
}